 <div id="taskPaginator" class="pagination pagination-centered pagination-large">
        <ul>
            <li class="disabled"><a href="#">Prev</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">Next</a></li>
        </ul>
 </div>