@{
    ViewBag.Title = "RegistartionComplite";
    Layout = "~/Views/Shared/_NotAuthenticatedLayout.cshtml";
}

<div class="text-success pagination-centered" style="margin-top: 10%">
    <h2>Your Registration has been complited</h2>
    <h1>@Html.ActionLink("Go Home", "Index", "Home")</h1>
</div>
