@Html.Action("Localization", "Home")
@{
    Layout = "~/Views/Shared/_NotAuthenticatedLayout.cshtml";
}
<div class="container-fluid controls" style="background-color: #DADADA; margin-top: 3%">
    <div class="span10">
        <h1 style="margin-left: 20%; margin-top: 10%" class="text-info">@Resources.Resources.WelcomTo QuizCamp;)</h1>      
    </div>
    <div id="registerForm" class="nav-collapse collapse pull-right">
        @RenderPage("~/Views/Shared/_SharedRegisteration.cshtml")      
    </div>
</div>





